


* {margin:0;padding:0;}
	.about input[id*="slide"] {display:none;}
	.about .about-wrap {
        width: 100%;
        margin:0 auto;
   
    }
	.about .slidelist {
        white-space:nowrap;
        font-size:0;
        overflow:hidden;
    }
	.about .slidelist > li {
        display:inline-block;
        vertical-align:middle;
        width:100%;
        transition:all .5s;
    }
    .about .slidelist > li > a {
        display:block;
        position:relative;
    }
	.about .slidelist > li > a img {width:100%;}
	.about .slidelist label {
        position:absolute;
        z-index:10;
        top:50%;
        transform:translateY(-50%);
        padding:50px;
        cursor:pointer;
    }
	.about .slidelist .left {
        left:30px;
        background:url('./images/left_1.png') center center / 50% no-repeat;
    }
	.about .slidelist .right {
        right:30px;background:url('./images/right_1.png') center center / 50% no-repeat;
    }
	.about .slidelist .textbox {
        position:absolute;
        z-index:1;top:50%;
        left:30%;
        transform:translate(-50%,-50%);
        line-height:1.4;
        text-align:left;
    }
	
	.about .slidelist .textbox h3 {
        font-size:50px;
        color:#477A7B;
        opacity:0;
        transform:translateY(30px);
        transition:all .5s;
        font-family: 'GmarketSansTTFMedium';
        font-stretch: condensed;
    }
	.about .slidelist .textbox p {
        font-size:24px;
        color:#477A7B;
        opacity:0;
        padding: 10px;
        transform:translateY(30px);
        transition:all .5s;
        font-family: 'GmarketSansTTFMedium';
    }

	.about input[id="slide01"]:checked ~ .about-wrap .slidelist > li {transform:translateX(0%);}
	.about input[id="slide02"]:checked ~ .about-wrap .slidelist > li {transform:translateX(-100%);}
	.about input[id="slide03"]:checked ~ .about-wrap .slidelist > li {transform:translateX(-200%);}

	.about input[id="slide01"]:checked ~ .about-wrap li:nth-child(1) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
	.about input[id="slide01"]:checked ~ .about-wrap li:nth-child(1) .textbox p {opacity:1;transform:translateY(0);transition-delay:.4s;}
	.about input[id="slide02"]:checked ~ .about-wrap li:nth-child(2) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
	.about input[id="slide02"]:checked ~ .about-wrap li:nth-child(2) .textbox p {opacity:1;transform:translateY(0);transition-delay:.4s;}
	.about input[id="slide03"]:checked ~ .about-wrap li:nth-child(3) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
	.about input[id="slide03"]:checked ~ .about-wrap li:nth-child(3) .textbox p {opacity:1;transform:translateY(0);transition-delay:.4s;}
